<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 b-3">
        <h3>Edit Products</h3>
        <form [formGroup]="getCustomerForm">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Name</label>
            <input type="email" class="form-control" formControlName="pname"  placeholder="Enter your pname">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">product quantity</label>
            <input type="email" class="form-control" formControlName="pquantity"  placeholder="Enter your pquantity">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="email" class="form-control" formControlName="price"  placeholder="Enter your price">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">product category</label>
            <input type="email" class="form-control" formControlName="category"  placeholder="Enter your category">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Supplier</label>
            <input type="email" class="form-control" formControlName="supplier"  placeholder="Enter your supplier">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Dateofpacking</label>
            <input type="email" class="form-control" formControlName="Dateofpacking"  placeholder="Enter your Dateofpacking">
          </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success" (click)="updateCustomer()">Update</button>
              </div>
        </form>
    </div>
    <div class="col-2">
        
    </div>
</div>